.sidebar {
  width: 240px;
  height: 100vh;
  background: #0e0e0e;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 24px;
  margin-bottom: 32px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.navItem {
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
  color: #f7f7f5;
  font-size: 20px;
  font-weight: 400;
}

.navItem:hover {
  color: #ffffff;
}